:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0b0b60;

  --primary-color: #052da7;
  --secondary-color: #004cff;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
